<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Arionum Breach DB</title>
    <link rel="stylesheet" href="./assets/app.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.7.2/css/bulma.min.css"
          integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21"
            integrity="sha384-P75AfVrDnfsoUfx7dDfQM9ivlDhxgE+g4kqO/U7lyXtJwJdpZozbt8L5ywD2PDA0"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
            integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
            crossorigin="anonymous"></script>
</head>
<body>
<div id="app" class="section">
    <div class="container">
        <a class="heading is-size-2" href=".">Arionum Breach DB</a>

        <hr/>

        <div class="field">
            <label for="publicKey" class="label">Public key</label>
            <p class="control has-icons-left">
                <input id="publicKey" type="text" class="input is-large" v-model.trim="publicKey">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </p>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" @click="checkIfBreached">Check wallet</button>
            </div>
        </div>

        <div v-if="isBreached === true" class="notification is-danger" role="alert" v-cloak>
            <h4 class="heading is-size-4">Wallet compromised</h4>
            <p>This wallet has been compromised in a breach.</p>
        </div>

        <div v-if="isBreached === false" class="notification is-success" role="alert" v-cloak>
            <h4 class="heading is-size-4">Wallet not found</h4>
            <p>This wallet was not found in the breach database.</p>
        </div>
    </div>
</div>

<script src="./assets/app.js" type="application/javascript"></script>
</body>
</html>
