<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Arionum Breach DB</title>
    <link rel="stylesheet" href="./assets/app.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/js/fontawesome.min.js" integrity="sha256-7zqZLiBDNbfN3W/5aEI1OX/5uvck9V0yhwKOA9Oe49M=" crossorigin="anonymous"></script>
</head>
<body>
<div id="app" class="section">
    <div class="container">
        <a class="title is-size-2" href=".">Arionum Breach DB</a>

        <hr/>

        <div class="field">
            <label for="publicKey" class="label">Public key</label>
            <p class="control has-icons-left">
                <input id="publicKey" type="text" class="input is-large" v-model.trim="publicKey">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </p>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" @click="checkIfBreached">Check wallet</button>
                <button class="button is-secondary" @click="publicKey = null">Clear</button>
            </div>
        </div>

        <div v-if="isBreached === false" class="notification is-success" role="alert" v-cloak>
            <h4 class="heading is-size-4">
                <i class="fas fa-check-circle"></i>
                <span>Wallet not found</span>
            </h4>
            <p>This wallet was not found in the breach database.</p>
        </div>

        <div v-if="isBreached === true" class="notification is-danger" role="alert" v-cloak>
            <h4 class="heading is-size-4">
                <i class="fas fa-exclamation-circle"></i>
                <span>Wallet compromised</span>
            </h4>
            <p>
                This wallet has been compromised in a breach. To view recent transactions,
                <a :href="'https://arionum.info/account/' + publicKey" target="_blank">click here</a>.
            </p>

            <hr/>

            <div class="content">
                <h5 class="title is-size-6">Breach guidelines</h5>
                <ol>
                    <li>
                        Create a new wallet using the official
                        <a href="https://git.io/fhUfT" target="_blank">Command Line (CLI)</a> or
                        <a href="https://git.io/fhUfI" target="_blank">Windows (GUI)</a> light wallets.
                    </li>
                    <li>
                        Message <strong>AroDev</strong> or <strong>mercury80</strong> on
                        <a href="https://discordapp.com/invite/ZkrFqt4" target="_blank">Discord</a> with the old key
                        pair and new wallet address.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<script src="./assets/app.js" type="application/javascript"></script>
</body>
</html>
